.offers {
	padding-top: 50px;
	padding-bottom: 70px;
	margin-bottom: 22px;
	// .offers__body
	&__body {
	}
	// .offers__title
	&__title {
		margin-bottom: 15px;
		text-align: center;
	}
	// .offers__text
	&__text {
		margin-bottom: 50px;
		text-align: center;
	}
	// .offers__items
	&__items {
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 30px;
	}
	// .offers__item
	&__item {
		flex: 0 0 24%;
	}
	// .offers__footer
	&__footer {
		text-align: center;
	}
}
.itemoffers {
	// .itemoffers__body
	&__body {
		display: flex;
		flex-direction: column;
		height: 100%;
		row-gap: 15px;
		position: relative;
		&:hover{
			.itemoffers__btn{
				opacity: 1;
				width: 100%;
			}
			.itemoffers__btntext{
				padding: 18px 25px;
				justify-content: end;
				gap: 10px;
				transition: all 0.3s ease 0s;
				svg{
					transition: all 0.3s ease 0s;
					transform: rotate(0);
				}
				span{
					display: flex;
				}
			}
		}
	}
	// .itemoffers__img
	&__img {
		img{
			width: 100%;
		}
	}
	// .itemoffers__title
	&__title {
		display: flex;
		gap: 10px;
		padding: 0 15px;
		align-items: center;
		justify-content: start;
	}
	// .itemoffers__icon
	&__icon {
		flex-grow: 0;
		flex-shrink: 0;
		border-radius: 50%;
	}
	// .itemoffers__name
	&__name {
		span{
			font-weight: 700;
			font-size: 20px;
			line-height: calc(24 / 20 * 100%);
			color: $black;
		}
	}
	// .itemoffers__text
	&__text {
		padding: 0 15px;
		span{
			font-weight: 400;
			font-size: 16px;
			line-height: calc(24 / 16 * 100%);
			text-transform: capitalize;
			color: $black;
		}
	}
	// .itemoffers__btn
	&__btn {
		height: 60px;
		width: 60px;
		align-self: end;
		background-color: $lightblue;
		transition: all 0.3s ease 0s;
		margin-top: auto;
	}
	// .itemoffers__btntext
	&__btntext{
		width: 100%;
		height: 100%;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		svg{
			transition: all 0.3s ease 0s;
			height: 100%;
			transform: rotate(-45deg);
		}
		span{
			display: none;

			font-weight: 400;
			font-size: 16px;
			line-height: calc(24 / 16 * 100%);
			text-transform: capitalize;
			color: $black;
		}
	}
	// .itemoffers__border
	&__border{
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid #E0E5E2;
	}
}
