.section {
	position: relative;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width:$breakpoint768) {
		min-height: 100%;
	}
	// .section__bg
	&__bg {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 40%;
		width: 60%;
		height: 100vh;
		@media (max-width:$breakpoint768) {
			display: none;
		}
	}
	.security{
		z-index: -1;
		position: absolute;
		top: 0;
		left: 60%;
		width: 40%;
		height: 100vh;
		@media (max-width:$breakpoint768) {
			display: none;
		}
	}
	// .section__content
	&__content {
		margin: auto 0;
	}
	// .section__body
	&__body {
		max-width: 50%;
		padding: 0 20px;
		@media (max-width:$breakpoint768) {
			max-width: none;
			text-align: center;
			padding: 20px 0;
		}
	}
	// .section__title
	&__title {
		margin-bottom: 15px;
	}
	// .section__text
	&__text {
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
	// .section__buttons
	&__buttons {
		display: flex;
		@media (max-width:$breakpoint768) {
			justify-content: center;
		}
	}
	// .section__btn
	&__btn {
	}
}

